/*----------main--------*/
h1, h2, p{color:#ffffff;}
h1{
    text-align:center;
}
main{
    width:100%;
}

img{
    max-width: 70%;
   
}

/*-----class------*/

div.cards{
    
   /* display: grid;
    gap: 10px;
    grid-template-columns: 1fr; */
    
   /* width: fit-content;*/
    background-color: #27E6D7;

}



.card {
    border: 1px solid #ffffff;
    padding: 1em;
    margin: 1em auto;
    background-color: #0628FF;
    text-align: center;
}




@media only screen and (min-width: 35em){
    div.cards{
    
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: #27E6D7;
    
    }
}


@media only screen and (min-width: 70em) {

    div.cards{
    
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #27E6D7;
    
    }

}


