@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

h1, h2, h3 { font-family: 'Montserrat','Source Sans Pro', sans-serif; }

h1{
    font-size: 2rem;
    margin: 0.15rem;
}

h2{
    font-size: 1.5rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
}





img{
    text-align: center;
    width: 200px;
    height: 300px;

}

header, footer{
    background-color: #1d8309;
    color: #ffffff;
    text-align: center;
    margin: 50px;
    padding: 10px;
 }





footer a:visited{
    color: #ffffff;
}







.clearfix:after{
    content: "";
    display: table;
    clear: both;
}



