@media only screen and (min-width: 32.5em) {
 
    nav li {display: inline-block;}

/*
    nav li {float:left; margin-right:15px;}
    main {clear:both;}
*/
    nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}